#cmd{
background-color: #f3e9f1;
border:1px solid black;
border-radius:2em;
text-align: center;
margin-top: 5em;
margin-left: 20em;
margin-right: 20em;
}

#table_panier h2{
  margin-left:3em;
}
#formulaire p{
  background-color: #f3e9f1;
}
#panier_commande td, #panier_commande th /* Toutes les cellules des tableaux... */{
    border: 1px solid black; /* auront une bordure de 1px */
}
#panier_commande{
  text-align:center;
  margin:2em;
}
.container{
  margin:2em;
  display:flex;
}
#totalHT, #tva, #ttc{
  text-align: right;
}
.label{
  display:block;
  margin:1em 1em 1em 7em;
}
.form-control{
  display:block;
  margin-left:7em;
}
.button{
  margin:2em 2em 2em 3em;
  font-size:1.5em;
}
.important{
  color:green;
}
html
{
  font-size:100%
}
body{
  margin:0;
  font-family:Merienda, "Comic sans MS";
}
h1{
  font-size:4.5em;
  padding-left:0.7em;
}
.hautdepage{
  display:flex;
  align-items:center;
  justify-content:center;
}
header{
    background-color:#f3e9f1;
}
nav li, nav a{
  text-decoration:none;
  list-style-type:none;
  }

ul ul{
      display:none;
    }
li:hover ul.hautdepage__btn__deroulant{
   display:block;
   }
.row{
  display:flex;
  justify-content:space-between;
}
.produit{
  display:flex;
  justify-content:center;
  padding:2em;
}
.cadre-img {
  min-width:500px;
  max-width:500px;
  margin:2em 0em 2em 10em;
  border: 0.2em solid #f3e9f1;
  border-radius:1em;
  overflow: hidden;
}
.produit img:hover{
  transform: scaleY(1.2);
}
.cadre-pdt{
  margin:5em 10em 5em 0em;
  background-color: #f3e9f1;
  padding:2em;
  border-radius:1em;
}
h2, .button {
  background-image:linear-gradient(to bottom right , #e38913, #8f5bfe);
  border-radius:1em;
  padding:0.3em;
  display:inline;
}
#bears, #Bear{
  text-align:center;
}
.qte, .add-to-cart, #qte{
  margin:2em 2em 5em 2em;
  background-color: #f3e9f1;
  border-radius:2em;
  border-color:#c57dee;
  font-size:1.5em;
}
#commande a:hover + .tourni  {
  transform: scaleY(1);
}
#panier_commande th{
  background-color: #c57dee ;
  padding:2em 1em 2em 1em;
}
#panier_commande td{
  background-color:#f3e9f1;
  padding:1em;
}
#commande a:hover + .tourni  {
  transform: scaleY(1);
}
#produit_vente a:focus + .tourni{
  transform: scaleY(1);
}
.tourni {
  transform-origin: 50% top;
  transform: scaleY(0);
  transition: transform 500ms;
  padding: 2rem;
}
